.sideBar {
  width: 22%;
  height: calc(100% - 6%);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 3%;
  left: 2%;
  overflow: auto;
  backdrop-filter: brightness(100%) blur(5px);
}

.sideBar img {
  width: 40%;
  height: auto;
  /* Up right down left */
  margin: 5% auto;
  margin-bottom: 5%;
  display: block;
  box-shadow: #09f 0 1px 5px;
  border-radius: 50%;
}

.sideBar p.name {
  text-align: center;
  font-size: 2vw;
  font-weight: 2.5rem;
  margin-bottom: 5%;
  user-select: none;
}

.sideBar p.motto {
  text-align: center;
  font-size: 1.25vw;
  line-height: 30px;
  user-select: none;
  color: #555;
  height: 5%;
}

.sideBar ul {
  width: 100%;
  padding-top: 5%;
}

.sideBar ul li {
  padding-left: 5%;
  line-height: 10%;
  margin: 10%;
  list-style: none;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.3vw;
}

.sideBar ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.sideBar ul li:hover {
  font-size: 1.5vw;
}

.sideBar ul li:active {
  font-size: 1.4px;
}

/* SNS */
.SNS {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.SNS:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 0.1px;
  background: transparent;
}

.SNS a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.SNS a img {
  width: 2rem;
  height: auto;
  fill: currentColor;
}

.SNS a img:hover {
  transform: translateY(-5px);
}
